<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Money Management app</title>
</head>
<body>
    <div id="firsthalf">
        <div class="container" id="form">
            <form action="/" method="POST">
                <label >Ammount <input type="text" name="Ammount"></label>
                <label >Date <input type="date" name="Date" id=""></label>
                <label >Comments <input type="text" name="Comments" id=""></label>
                <input type="submit" value="Add">
            </form>
        
        </div>
    </div>
    <div id="secondhalf">    
        <div id="table">
            <table border="solid">
                <tr>
                    <td>Date</td>
                    <td>Ammount</td>
                    <td>Comments</td>
                </tr>
                <% data.forEach(function(data){%>
                    <tr>
                        <td><%=data.Date%></td>
                        <td><%=data.Ammount%></td>
                        <td><%=data.Comments%></td>
                    </tr>
                <%});%>
            </table>
        </div>
    </div>
</body>
</html>