<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <title>Money Management app</title>
</head>
<body>
    <div id="topbar">
        <div style="color: #f4f6ff; font-family: 'Holtwood One SC', serif; font-size: 1.5rem; text-align: center; margin:auto; padding: none;">
            Money Management
             Application
        </div>
    </div>
    <div id="firsthalf" class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div  style="background: none; margin-top: 10vH; ">
                <h1 style=" font-family: 'Holtwood One SC', serif; font-size: 5em;">Welcome</h1>
                <p>
                    Here is my web application in which you can enter your expense details
                </p>
            </div>
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-12 col-12" id="item1">
            <div class="col">
                <form action="/" method="POST" >
                    <div style="font-family: 'Holtwood One SC', serif; font-size: 1.5rem; padding-bottom: 70px;">
                        Enter your expense:
                    </div>
                    
                        Ammount   <P></P><input type="text" name="Ammount">
                    
                    <p></p>
                    Date     <p></p> <input type="date" name="Date" id="">
                    <p></p>
                    Comments <p></p> <input type="text" name="Comments" id="">
                    <p style="padding-top: 5vh; padding-left: 2vh;">
                    
                        <input type="submit" value="Add" class="btn btn-lg btn-primary" >
                    </p>
                </form>
            </div>

        </div>
    </div>
    <div id="secondhalf">    
        <div id="table">
            <table border="solid">
                <tr id="tittle">
                    <td id="item">Date</td>
                    <td id="item">Ammount</td>
                    <td id="item">Comments</td>
                </tr>
                <% data.forEach(function(data){%>
                    <tr>
                        <td id="item"><%=data.Date%></td>
                        <td id="item"><%=data.Ammount%></td>
                        <td id="item"><%=data.Comments%></td>
                    </tr>
                <%});%>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>